<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-bar w3-black" id="header">
  <nav>
    <ul>
      <li id="list1"><a routerLink="/">{{title}}</a></li>
      <li><a routerLink="/about" >About</a></li>
      <li><a routerLink="/contact" >Contact</a></li>
      <li><a routerLink="/register" >Sign Up</a></li>
      <li><a routerLink="/login" >Login</a></li>
      <li><a routerLink="/" >Log out</a></li>
  
    </ul>
  </nav>
</div>

</body>
</html>
