/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Montserrat', sans-serif;
    
}
.pcard{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color:white;
  border:1px solid lightgray;
  border-radius:9px;
  padding:18px;
}
.gray{
    color:gray;
}
.lgray{
    color:lightgray;
}
.ninety{
    width:90%;
    margin:0 auto;
    margin:3px;
}
.smcard{
    border:2px solid lightgray;
    border-radius:5px;
    padding:6px;
    margin:3px;
    font-size:14px;
    font-style: bold;
}
.mar{
  margin:2px;font-size:12px;
}